

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #66C2E2;
  --secondary: #005C89;
}

body {
  font-family: var(--font-manrope), sans-serif;
}

/* CTA Button Gradient Slide Animation */
.btn-grad {
  background-size: 200% auto;
  transition: background-position 0.5s ease;
}

.btn-grad:hover {
  background-position: right center;
}

/* Navbar active link highlight */
.nav-active {
  background: #66C2E2 !important; /* Dark blue */
  color: white !important;
  border-color: #66C2E2 !important;
}

/* hide scrollbar for the page's horizontal overflow (if any) */
html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* if needed for scroller element: */
[data-card] {
  scroll-snap-align: start;
}

/* optional - hide scrollbar on webkit for any scrollable container */
.scroller::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .h-screen-navbar {
    height: calc(100vh - 85px); /* navbar = 85px */
  }
}

